@page "/about"

<h1>About Blazin Pomodoro</h1>

<div class="container">
    <p>
        This is an experimental task-list application with pomodoro timer features, written for <a href="https://github.com/aspnet/Blazor">Microsoft's Blazor</a> framework.
    </p>
    <p>
        For more information, please visit the <a href="https://github.com/StephenRedd/blazin-pomodoro">Blazin Pomodoro GitHub repository</a>.
    </p>
</div>